<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.shortname = "jackore";
  this.page.url = "<%= url_for(host: ENV['APPLICATION_HOST']) %>";
  this.page.identifier = 'article-<%= @article.id %>';
  this.page.title = '<%= @article.title %>';  
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//nimblefact.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
