// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top-color: #810F54;
    border-bottom-color: #0FD050;
    padding: 10px;
    text-align: left;
}
