// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align:center;
}

p {
  text-align:center;
}

a {
  text-align:center;
}
