<h1>Listing categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to "#{category.title}", category_path(category) %></td>
    </tr>
  <% end %>
</table>
