<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="1"></th>
  </tr>
    <% @category.articles.each do |article| %>
      <tr>
        <td><%= link_to article.title.to_s, category_article_path(article) %></td>
        <td><%= article.body[0..20] %></td>
      <tr>
    <% end %>
  <tr></tr>
</table>

<%= link_to 'Back to categories', categories_path %>
