<!DOCTYPE html>
<html>
  <head>
    <title>Personal blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="content">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
